<!DOCTYPE html>
<html>
    <head>
        <title>Question <%= num %></title>
        <% include ./partials/head %>
        <script type="text/javascript">
            function downloadTrainingData() {
                var filepath = "/api/files/<%= id %>_training.txt/train.csv";
                top.location.href = filepath;
            }

            function downloadSampleInput() {
                top.location.href = "/api/files/<%= id %>_sample.txt/test.csv";
            }

            $(document).ready(function() {
                var questionBody = $("#question-body");
                $.get('/api/question/<%= id %>', function (data) {
                    console.log(JSON.stringify(data));
                    var question = data.data;
                    var questionHeader = "<div class=\"panel-heading\">Question <%= num %>: <b>" + question.title + "</b></div>";
                    var descHeader = "<div class=\"panel-body\">" + question.description + "</div>";
                    questionBody.append(questionHeader);
                    questionBody.append(descHeader);
                });
                $.get('/api/leaderboard/<%= id %>', function(data) {
                    console.log("leaderboard = " + JSON.stringify(data));
                    var submissionContainer = $("#leaderboard-list");
                    var submissions = data.data;
                    var toAppend;
                    for (var i = 0; i < Math.min(submissions.length, 20); ++i) {
                        var submission = submissions[i];
                        toAppend = "<a href=\"#\" class=\"list-group-item\">";
                        toAppend += submission._id + " : " + submission.score;
                        toAppend += "</a>";
                        submissionContainer.append(toAppend);
                    }

                });
                $.get('/api/submissions/<%= username %>', function (data) {
                    var ownListContainer = $("#self-score-list");
                    var toAppend;
                    var submissions = data.data;
                    var submission;
                    for (var i = 0; i < submissions.length; ++i) {
                        submission = submissions[i];
                        toAppend = "<a href=\"#\" class=\"list-group-item\">";
                        toAppend += submission.user + " : " + submission.score;
                        toAppend += "</a>";
                        ownListContainer.append(toAppend);
                    }
                });
                var uploadForm = $("#outputUploadForm");
                uploadForm.on('submit', function(e) {
                    e.preventDefault();
                    uploadForm.ajaxSubmit({
                        type: "post",
                        success: function(data) {
                            console.log("derp = " + JSON.stringify(data));
                            $.fn.dpToast("Upload Complete");
                        },
                        error: function() {
                            console.log("Error");
                            $.fn.dpToast("Upload Error");
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <% include ./partials/header %>
            <div class="panel panel-default" id="question-body">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Downloads</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button onclick="downloadTrainingData()" type="button" class="btn btn-info" >Download Training Data</button>
                                </div>
                                <div class="col-sm-6">
                                    <button onclick="downloadSampleInput()" type="button" class="btn btn-info" >Download Test Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Submit your code</div>
                        <div class="panel-body">
                            <form ref="uploadForm"
                                id="outputUploadForm"
                                encType="multipart/form-data"
                                method="post"
                                action="/api/submission/<%= id %>/upload/<%= username %>" >
                                <div class="form-group">
                                    <input type="file" name="userOutput" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">My Score</div>
                            <div class="panel-body list-group" id="self-score-list">
                            </div>
                        </div>
                    </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Leaderboard</div>
                        <div class="panel-body list-group" id="leaderboard-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>